.weatherinputwrapper {
  justify-content: center;

  .form {
    display: flex;

    .weatherinput {
      max-width: 500px;
    }

    .searchButton {
      z-index: initial;
    }
  }
}

.weatherNoCities {
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 10em;
}
